@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {
  --color-primary-zumthor: hsl(225, 100%, 94%);
  --color-primary-persian: hsl(245, 75%, 52%);
  --color-primary-cornflower: hsl(245, 83%, 68%);

  --color-secondary-zircon: hsl(228, 100%, 98%);
  --color-secondary-bermuda-gray: hsl(224, 23%, 55%);
  --color-secondary-cloud-burst: hsl(223, 47%, 23%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:is(html, body) {
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-zumthor);
  background-image: url('images/pattern-background-mobile.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Red Hat Display', sans-serif;
}

@media (min-width: 35rem) {
  body {
    background-image: url('images/pattern-background-desktop.svg');
  }
}

.attribution {
  position: absolute;
  inset-block-end: 1rem;
}


/* ---------------------
   Global components
--------------------- */
[class*="button"] {
  display: block;
  inline-size: 100%;
  padding: .75rem 1rem;
  border: 0;
  border-radius: 12px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

[class*="button"]:not(.button--primary) {
  background-color: transparent;
}

/* Improve a11y of buttons on interaction */
[class*="button"]:hover,
[class*="button"]:focus {
  outline: 2px solid transparent; /* High-contrast visible outline */
  text-decoration: underline;
}

.button--primary {
  background-color: var(--color-primary-persian);
  color: hsl(0, 0%, 100%);
  transition: background-color .15s;
}

.button--primary:hover,
.button--primary:focus {
  background-color: var(--color-primary-cornflower);
}

.button--secondary {
  color: var(--color-secondary-bermuda-gray);
  transition: color .15s;
}

.button--secondary:hover,
.button--secondary:focus {
  color: var(--color-secondary-cloud-burst);
}

.button--text {
  color: var(--color-secondary-cloud-burst);
  text-decoration: underline;
  transition: color .15s;
}

.button--text:hover,
.button--text:focus {
  color: var(--color-primary-cornflower);
  text-decoration: none;
}

.card {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}


/* ---------------------
        Modules
--------------------- */
.order-summary {
  overflow: hidden;
  max-inline-size: 23rem;
  margin-inline: auto;
}

.order__hero {
  inline-size: calc(100% + 3rem);
  margin: -1.5rem -1.5rem 0;
}

.order__hero img {
  inline-size: 100%;
}

.order-summary > :is(h1, p) {
  text-align: center;
}

.order-summary > h1 {
  margin-block-start: 1.75rem;
  margin-block-end: 1.75rem;
  color: var(--color-secondary-cloud-burst);
  font-size: 1.5rem;
  font-weight: 900;
}

.order-summary > p {
  max-inline-size: 17rem;
  margin-inline: auto;
  margin-block-end: 1.75rem;
  color: var(--color-secondary-bermuda-gray);
  line-height: 1.5;
}

.order__plan {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-block-end: 1.5rem;
  padding: 1rem;
  background-color: var(--color-secondary-zircon);
  border-radius: 12px;
}

.plan__icon {
  margin-inline-end: 1rem;
}

:is(.plan__name, .plan__price) {
  margin-block: 0;
  font-size: .85rem;
}

.plan__name {
  margin-block-end: .25rem;
}

.plan__price {
  color: var(--color-secondary-bermuda-gray);
}

.plan__action {
  display: inline-block;
  inline-size: auto;
  margin-inline-start: auto;
  margin-inline-end: -.75rem; /* Slightly pull into padding */
  font-size: .85rem;
}

.order-summary .button--primary {
  margin-bottom: .5rem;
}
